<a href="https://colab.research.google.com/github/elmedianikhadija/pfe_prophet/blob/main/pfe_prophet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd 
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
#%matplotlib inline
import seaborn as sns
import datetime as dt

In [2]:
!pip install folium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.5.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.21.6)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (2.0.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2022.5.18.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)

In [3]:
#libraries
import pandas as pd # manupilate the data

# Visualisation libraries
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly
import plotly.express as px
import plotly.graph_objects as go
import folium 
from folium import plugins

import folium 
from folium import plugins

In [4]:
!pip install fbprophet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fbprophet in /usr/local/lib/python3.7/dist-packages (0.7.1)
Requirement already satisfied: Cython>=0.22 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.29.30)
Requirement already satisfied: cmdstanpy==0.9.5 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.9.5)
Requirement already satisfied: pystan>=2.14 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.19.1.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.21.6)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.3.5)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (3.2.2)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.0.9)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.4.0)
Requirement already satisfied: holidays>=0.10.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.10.5.2)
Requirement already satisfied: setuptools-git>=1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.2)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.8.2)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (4.64.0)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.1.2->fbprophet) (0.5.11)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (2.2.3)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (0.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (1.15.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (2022.1)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (4.1.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (1.4.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->fbprophet) (4.2.0)

In [5]:
from fbprophet import Prophet

In [6]:
#infected = pd.read_csv("/content/infected.csv") 

#infected.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/3/22,5/4/22,5/5/22,5/6/22,5/7/22,5/8/22,5/9/22,5/10/22,5/11/22,5/12/22
0,NaN,Cameroon,3.848000,11.502100,0,0,0,0,0,0,...,119780,119780,119780,119780,119780,119780,119780,119780,119780,119780
1,Guangdong,China,23.341700,113.424400,26,32,53,78,111,151,...,7103,7119,7134,7144,7166,7201,7218,7230,7235,7247
2,NaN,France,46.227600,2.213700,0,0,2,3,3,3,...,27978577,28026502,28070727,28108929,28146887,28176211,28181004,28229588,28269887,28305934
3,NaN,Germany,51.165691,10.451526,0,0,0,0,0,1,...,25033970,25130137,25215210,25287462,25295950,25299300,25406868,25503878,25592839,25661838
4,NaN,Italy,41.871940,12.567380,0,0,0,0,0,0,...,16586268,16633911,16682626,16726990,16767773,16798998,16816419,16872618,16915301,16954784

In [7]:
#data_infected= infected.drop(["Province/State", "Lat", "Long", "Country/Region"], axis=1)

In [8]:
#data_infected

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,5/3/22,5/4/22,5/5/22,5/6/22,5/7/22,5/8/22,5/9/22,5/10/22,5/11/22,5/12/22
0,0,0,0,0,0,0,0,0,0,0,...,119780,119780,119780,119780,119780,119780,119780,119780,119780,119780
1,26,32,53,78,111,151,207,277,354,436,...,7103,7119,7134,7144,7166,7201,7218,7230,7235,7247
2,0,0,2,3,3,3,4,5,5,5,...,27978577,28026502,28070727,28108929,28146887,28176211,28181004,28229588,28269887,28305934
3,0,0,0,0,0,1,4,4,4,5,...,25033970,25130137,25215210,25287462,25295950,25299300,25406868,25503878,25592839,25661838
4,0,0,0,0,0,0,0,0,0,2,...,16586268,16633911,16682626,16726990,16767773,16798998,16816419,16872618,16915301,16954784
5,0,0,0,0,0,0,0,0,0,0,...,1165004,1165026,1165084,1165151,1165206,1165247,1165283,1165366,1165455,1165552
6,0,0,0,0,0,0,0,0,0,0,...,8954,8957,8957,8957,8957,8957,8986,9005,9005,9010
7,0,0,0,0,0,0,0,0,0,2,...,17935641,17940665,17945617,17951065,17956472,17961837,17966773,17971207,17975243,17979272
8,0,0,0,0,0,0,0,0,0,0,...,86007,86010,86012,86012,86012,86012,86016,86019,86023,86029
9,0,0,0,0,0,0,0,0,0,0,...,11953481,11953481,11953481,12009059,12009059,12009059,12009059,12058888,12058888,12058888
10,0,0,0,0,0,0,0,0,0,0,...,1040193,1040712,1040712,1040712,1040712,1040712,1040712,1041197,1041197,1041197

In [9]:
#data_infected2=data_infected.T

In [10]:
#data_infected2

,0,1,2,3,4,5,6,7,8,9,10
1/22/20,0,26,0,0,0,0,0,0,0,0,0
1/23/20,0,32,0,0,0,0,0,0,0,0,0
1/24/20,0,53,2,0,0,0,0,0,0,0,0
1/25/20,0,78,3,0,0,0,0,0,0,0,0
1/26/20,0,111,3,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
5/8/22,119780,7201,28176211,25299300,16798998,1165247,8957,17961837,86012,12009059,1040712
5/9/22,119780,7218,28181004,25406868,16816419,1165283,8986,17966773,86016,12009059,1040712
5/10/22,119780,7230,28229588,25503878,16872618,1165366,9005,17971207,86019,12058888,1041197
5/11/22,119780,7235,28269887,25592839,16915301,1165455,9005,17975243,86023,12058888,1041197
5/12/22,119780,7247,28305934,25661838,16954784,1165552,9010,17979272,86029,12058888,1041197

In [11]:
#data_infected3 = data_infected2.rename(columns = {0: 'Cameroon', 1: 'China', 2: 'France', 3: 'Germany', 4: 'Italy', 5: 'Morocco', 6: 'Niger', 7: 'Russia', 8: 'Senegal', 9: 'Spain', 10: 'Russia'})

In [12]:
#data_infected3

,Cameroon,China,France,Germany,Italy,Morocco,Niger,Russia,Senegal,Spain,Russia
1/22/20,0,26,0,0,0,0,0,0,0,0,0
1/23/20,0,32,0,0,0,0,0,0,0,0,0
1/24/20,0,53,2,0,0,0,0,0,0,0,0
1/25/20,0,78,3,0,0,0,0,0,0,0,0
1/26/20,0,111,3,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
5/8/22,119780,7201,28176211,25299300,16798998,1165247,8957,17961837,86012,12009059,1040712
5/9/22,119780,7218,28181004,25406868,16816419,1165283,8986,17966773,86016,12009059,1040712
5/10/22,119780,7230,28229588,25503878,16872618,1165366,9005,17971207,86019,12058888,1041197
5/11/22,119780,7235,28269887,25592839,16915301,1165455,9005,17975243,86023,12058888,1041197
5/12/22,119780,7247,28305934,25661838,16954784,1165552,9010,17979272,86029,12058888,1041197

In [13]:
#data_infected3 = data_infected3.rename_axis('Date').reset_index()
#print(data_infected3)

        Date  Cameroon  China    France   Germany     Italy  Morocco  Niger  \
0    1/22/20         0     26         0         0         0        0      0
1    1/23/20         0     32         0         0         0        0      0
2    1/24/20         0     53         2         0         0        0      0
3    1/25/20         0     78         3         0         0        0      0
4    1/26/20         0    111         3         0         0        0      0
..       ...       ...    ...       ...       ...       ...      ...    ...
837   5/8/22    119780   7201  28176211  25299300  16798998  1165247   8957
838   5/9/22    119780   7218  28181004  25406868  16816419  1165283   8986
839  5/10/22    119780   7230  28229588  25503878  16872618  1165366   9005
840  5/11/22    119780   7235  28269887  25592839  16915301  1165455   9005
841  5/12/22    119780   7247  28305934  25661838  16954784  1165552   9010

       Russia  Senegal     Spain   Russia
0           0        0         0        0
1           0        0         0        0
2           0        0         0        0
3           0        0         0        0
4           0        0         0        0
..        ...      ...       ...      ...
837  17961837    86012  12009059  1040712
838  17966773    86016  12009059  1040712
839  17971207    86019  12058888  1041197
840  17975243    86023  12058888  1041197
841  17979272    86029  12058888  1041197

[842 rows x 12 columns]

In [ ]:
#data_infected3.to_csv("infected_dataINDEX.csv", index=False)

In [14]:
infected5 = pd.read_csv("/content/infected_dataINDEX.csv") 

infected5.head()

,Date,Cameroon,China,France,Germany,Italy,Morocco,Niger,Russia,Senegal,Spain,Russia.1
0,1/22/20,0,26,0,0,0,0,0,0,0,0,0
1,1/23/20,0,32,0,0,0,0,0,0,0,0,0
2,1/24/20,0,53,2,0,0,0,0,0,0,0,0
3,1/25/20,0,78,3,0,0,0,0,0,0,0,0
4,1/26/20,0,111,3,0,0,0,0,0,0,0,0

In [15]:
infected5["Date"] = pd.to_datetime(infected5['Date'], dayfirst=True)
infected5["Date"].dtype

dtype('<M8[ns]')

# Prophet_maroc

In [16]:
mycolumns_Morocco = ['Date','Morocco']

In [17]:
infected_Morocco = infected5[mycolumns_Morocco]

In [18]:
infected_Morocco

          Date  Morocco
0   2020-01-22        0
1   2020-01-23        0
2   2020-01-24        0
3   2020-01-25        0
4   2020-01-26        0
..         ...      ...
837 2022-08-05  1165247
838 2022-09-05  1165283
839 2022-10-05  1165366
840 2022-11-05  1165455
841 2022-12-05  1165552

[842 rows x 2 columns]

In [19]:
infected_Morocco['Date'] = pd.to_datetime(infected_Morocco['Date'])
infected_Morocco.columns = ['ds', 'y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
infected_Morocco

            ds        y
0   2020-01-22        0
1   2020-01-23        0
2   2020-01-24        0
3   2020-01-25        0
4   2020-01-26        0
..         ...      ...
837 2022-08-05  1165247
838 2022-09-05  1165283
839 2022-10-05  1165366
840 2022-11-05  1165455
841 2022-12-05  1165552

[842 rows x 2 columns]

In [21]:
model_Morocco = Prophet()
model_Morocco.fit(infected_Morocco)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [22]:
future_Morocco = model_Morocco.make_future_dataframe(periods=365 * 10)
forecast_Morocco = model_Morocco.predict(future_Morocco)

In [23]:
forecast_Morocco

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2020-01-02,-1.568713e+05,-1.214270e+05,1.917105e+05,-1.568713e+05,-1.568713e+05,183214.895107,183214.895107,183214.895107,-2814.015301,-2814.015301,-2814.015301,186028.910408,186028.910408,186028.910408,0.0,0.0,0.0,2.634360e+04
1,2020-01-03,-1.555425e+05,-1.201251e+05,1.804648e+05,-1.555425e+05,-1.555425e+05,192350.350457,192350.350457,192350.350457,-1372.905255,-1372.905255,-1372.905255,193723.255712,193723.255712,193723.255712,0.0,0.0,0.0,3.680781e+04
2,2020-01-04,-1.542138e+05,-9.707326e+04,2.085691e+05,-1.542138e+05,-1.542138e+05,200465.056582,200465.056582,200465.056582,1122.349326,1122.349326,1122.349326,199342.707256,199342.707256,199342.707256,0.0,0.0,0.0,4.625127e+04
3,2020-01-05,-1.528850e+05,-9.799615e+04,2.049425e+05,-1.528850e+05,-1.528850e+05,208112.103193,208112.103193,208112.103193,5214.449905,5214.449905,5214.449905,202897.653287,202897.653287,202897.653287,0.0,0.0,0.0,5.522707e+04
4,2020-01-06,-1.515563e+05,-9.081073e+04,1.997079e+05,-1.515563e+05,-1.515563e+05,204439.260520,204439.260520,204439.260520,-2.297004,-2.297004,-2.297004,204441.557524,204441.557524,204441.557524,0.0,0.0,0.0,5.288298e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4487,2032-11-28,5.599394e+06,4.250756e+06,6.765700e+06,4.353610e+06,6.827643e+06,-64219.634754,-64219.634754,-64219.634754,5214.449905,5214.449905,5214.449905,-69434.084660,-69434.084660,-69434.084660,0.0,0.0,0.0,5.535174e+06
4488,2032-11-29,5.600561e+06,4.241211e+06,6.736979e+06,4.354335e+06,6.829224e+06,-77196.684803,-77196.684803,-77196.684803,-2.297004,-2.297004,-2.297004,-77194.387799,-77194.387799,-77194.387799,0.0,0.0,0.0,5.523364e+06
4489,2032-11-30,5.601728e+06,4.272345e+06,6.760237e+06,4.355060e+06,6.830805e+06,-85451.295230,-85451.295230,-85451.295230,-124.579237,-124.579237,-124.579237,-85326.715993,-85326.715993,-85326.715993,0.0,0.0,0.0,5.516277e+06
4490,2032-12-01,5.602895e+06,4.237217e+06,6.766139e+06,4.355785e+06,6.832387e+06,-95634.708485,-95634.708485,-95634.708485,-2023.002434,-2023.002434,-2023.002434,-93611.706051,-93611.706051,-93611.706051,0.0,0.0,0.0,5.507260e+06
4491,2032-12-02,5.604062e+06,4.194409e+06,6.743688e+06,4.356510e+06,6.834092e+06,-104628.288321,-104628.288321,-104628.288321,-2814.015301,-2814.015301,-2814.015301,-101814.273019,-101814.273019,-101814.273019,0.0,0.0,0.0,5.499434e+06

# Prophet_China

In [24]:
mycolumns_China = ['Date','China']

In [25]:
infected_China = infected5[mycolumns_China]

In [26]:
infected_China

          Date  China
0   2020-01-22     26
1   2020-01-23     32
2   2020-01-24     53
3   2020-01-25     78
4   2020-01-26    111
..         ...    ...
837 2022-08-05   7201
838 2022-09-05   7218
839 2022-10-05   7230
840 2022-11-05   7235
841 2022-12-05   7247

[842 rows x 2 columns]

In [27]:
infected_China['Date'] = pd.to_datetime(infected_China['Date'])
infected_China.columns = ['ds', 'y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
infected_China

            ds     y
0   2020-01-22    26
1   2020-01-23    32
2   2020-01-24    53
3   2020-01-25    78
4   2020-01-26   111
..         ...   ...
837 2022-08-05  7201
838 2022-09-05  7218
839 2022-10-05  7230
840 2022-11-05  7235
841 2022-12-05  7247

[842 rows x 2 columns]

In [29]:
model_China = Prophet()
model_China.fit(infected_China)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [30]:
future_China = model_China.make_future_dataframe(periods=365 * 10)
forecast_China = model_China.predict(future_China)

In [31]:
forecast_China

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2020-01-02,772.614449,298.693145,1870.508102,772.614449,772.614449,359.455502,359.455502,359.455502,-34.120777,-34.120777,-34.120777,393.576279,393.576279,393.576279,0.0,0.0,0.0,1132.069952
1,2020-01-03,777.107290,445.789023,1927.538499,777.107290,777.107290,400.417733,400.417733,400.417733,-9.462074,-9.462074,-9.462074,409.879807,409.879807,409.879807,0.0,0.0,0.0,1177.525023
2,2020-01-04,781.600132,459.799256,1951.144454,781.600132,781.600132,432.602945,432.602945,432.602945,16.738284,16.738284,16.738284,415.864661,415.864661,415.864661,0.0,0.0,0.0,1214.203077
3,2020-01-05,786.092973,448.764059,1880.087376,786.092973,786.092973,403.307962,403.307962,403.307962,-8.413835,-8.413835,-8.413835,411.721798,411.721798,411.721798,0.0,0.0,0.0,1189.400935
4,2020-01-06,790.585814,482.526748,1891.723726,790.585814,790.585814,412.045709,412.045709,412.045709,14.174308,14.174308,14.174308,397.871401,397.871401,397.871401,0.0,0.0,0.0,1202.631523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4487,2032-11-28,35599.315581,20210.869089,50750.069614,20886.906071,51547.773213,-509.207663,-509.207663,-509.207663,-8.413835,-8.413835,-8.413835,-500.793828,-500.793828,-500.793828,0.0,0.0,0.0,35090.107917
4488,2032-11-29,35607.226512,19846.852026,50856.304546,20886.878749,51563.557591,-522.147849,-522.147849,-522.147849,14.174308,14.174308,14.174308,-536.322157,-536.322157,-536.322157,0.0,0.0,0.0,35085.078663
4489,2032-11-30,35615.137442,20065.295864,50983.123655,20886.851427,51579.341969,-561.738482,-561.738482,-561.738482,12.579512,12.579512,12.579512,-574.317994,-574.317994,-574.317994,0.0,0.0,0.0,35053.398960
4490,2032-12-01,35623.048373,19848.532556,50548.688761,20886.824105,51595.126347,-605.289725,-605.289725,-605.289725,8.504582,8.504582,8.504582,-613.794307,-613.794307,-613.794307,0.0,0.0,0.0,35017.758648
4491,2032-12-02,35630.959304,19888.355661,51131.969277,20886.796783,51610.910725,-687.792926,-687.792926,-687.792926,-34.120777,-34.120777,-34.120777,-653.672149,-653.672149,-653.672149,0.0,0.0,0.0,34943.166378

# Prophet_France

In [32]:
mycolumns_France	 = ['Date','France']

In [33]:
infected_France	 = infected5[mycolumns_France	]

In [34]:
infected_France

          Date    France
0   2020-01-22         0
1   2020-01-23         0
2   2020-01-24         2
3   2020-01-25         3
4   2020-01-26         3
..         ...       ...
837 2022-08-05  28176211
838 2022-09-05  28181004
839 2022-10-05  28229588
840 2022-11-05  28269887
841 2022-12-05  28305934

[842 rows x 2 columns]

In [35]:
infected_France	['Date'] = pd.to_datetime(infected_France	['Date'])
infected_France	.columns = ['ds', 'y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
infected_France

            ds         y
0   2020-01-22         0
1   2020-01-23         0
2   2020-01-24         2
3   2020-01-25         3
4   2020-01-26         3
..         ...       ...
837 2022-08-05  28176211
838 2022-09-05  28181004
839 2022-10-05  28229588
840 2022-11-05  28269887
841 2022-12-05  28305934

[842 rows x 2 columns]

In [37]:
model_France	 = Prophet()
model_France	.fit(infected_France)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [38]:
future_France	 = model_France	.make_future_dataframe(periods=365 * 10)
forecast_France	 = model_France	.predict(future_France)

In [39]:
forecast_France

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2020-01-02,-4.016527e+06,-5.546945e+06,3.791749e+05,-4.016527e+06,-4.016527e+06,1.617835e+06,1.617835e+06,1.617835e+06,-109655.268753,-109655.268753,-109655.268753,1.727490e+06,1.727490e+06,1.727490e+06,0.0,0.0,0.0,-2.398692e+06
1,2020-01-03,-3.992061e+06,-5.051641e+06,1.028093e+06,-3.992061e+06,-3.992061e+06,1.884472e+06,1.884472e+06,1.884472e+06,-51127.477508,-51127.477508,-51127.477508,1.935599e+06,1.935599e+06,1.935599e+06,0.0,0.0,0.0,-2.107589e+06
2,2020-01-04,-3.967594e+06,-4.741532e+06,1.275805e+06,-3.967594e+06,-3.967594e+06,2.155116e+06,2.155116e+06,2.155116e+06,48873.586933,48873.586933,48873.586933,2.106242e+06,2.106242e+06,2.106242e+06,0.0,0.0,0.0,-1.812479e+06
3,2020-01-05,-3.943128e+06,-4.519463e+06,1.224709e+06,-3.943128e+06,-3.943128e+06,2.296133e+06,2.296133e+06,2.296133e+06,56875.371912,56875.371912,56875.371912,2.239257e+06,2.239257e+06,2.239257e+06,0.0,0.0,0.0,-1.646995e+06
4,2020-01-06,-3.918661e+06,-4.506315e+06,1.659651e+06,-3.918661e+06,-3.918661e+06,2.411194e+06,2.411194e+06,2.411194e+06,75888.709790,75888.709790,75888.709790,2.335305e+06,2.335305e+06,2.335305e+06,0.0,0.0,0.0,-1.507468e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4487,2032-11-28,2.023248e+08,8.557048e+07,3.120790e+08,8.865163e+07,3.150734e+08,-3.560158e+06,-3.560158e+06,-3.560158e+06,56875.371912,56875.371912,56875.371912,-3.617033e+06,-3.617033e+06,-3.617033e+06,0.0,0.0,0.0,1.987646e+08
4488,2032-11-29,2.023721e+08,8.437319e+07,3.116905e+08,8.866598e+07,3.151560e+08,-3.688819e+06,-3.688819e+06,-3.688819e+06,75888.709789,75888.709789,75888.709789,-3.764707e+06,-3.764707e+06,-3.764707e+06,0.0,0.0,0.0,1.986833e+08
4489,2032-11-30,2.024194e+08,8.445287e+07,3.103676e+08,8.868033e+07,3.152387e+08,-4.005492e+06,-4.005492e+06,-4.005492e+06,-85557.605471,-85557.605471,-85557.605471,-3.919934e+06,-3.919934e+06,-3.919934e+06,0.0,0.0,0.0,1.984139e+08
4490,2032-12-01,2.024667e+08,8.509424e+07,3.111231e+08,8.869468e+07,3.153214e+08,-4.013946e+06,-4.013946e+06,-4.013946e+06,64702.683099,64702.683099,64702.683099,-4.078648e+06,-4.078648e+06,-4.078648e+06,0.0,0.0,0.0,1.984528e+08
4491,2032-12-02,2.025140e+08,8.227946e+07,3.103389e+08,8.870903e+07,3.154040e+08,-4.346109e+06,-4.346109e+06,-4.346109e+06,-109655.268754,-109655.268754,-109655.268754,-4.236454e+06,-4.236454e+06,-4.236454e+06,0.0,0.0,0.0,1.981679e+08

# Prophet_Italy

In [40]:
mycolumns_Italy	 = ['Date','Italy']

In [41]:
infected_Italy	 = infected5[mycolumns_Italy	]

In [42]:
infected_Italy

          Date     Italy
0   2020-01-22         0
1   2020-01-23         0
2   2020-01-24         0
3   2020-01-25         0
4   2020-01-26         0
..         ...       ...
837 2022-08-05  16798998
838 2022-09-05  16816419
839 2022-10-05  16872618
840 2022-11-05  16915301
841 2022-12-05  16954784

[842 rows x 2 columns]

In [43]:
infected_Italy	['Date'] = pd.to_datetime(infected_Italy	['Date'])
infected_Italy	.columns = ['ds', 'y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
infected_Italy

            ds         y
0   2020-01-22         0
1   2020-01-23         0
2   2020-01-24         0
3   2020-01-25         0
4   2020-01-26         0
..         ...       ...
837 2022-08-05  16798998
838 2022-09-05  16816419
839 2022-10-05  16872618
840 2022-11-05  16915301
841 2022-12-05  16954784

[842 rows x 2 columns]

In [45]:
model_Italy	 = Prophet()
model_Italy.fit(infected_Italy)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [46]:
future_Italy	 = model_Italy.make_future_dataframe(periods=365 * 10)
forecast_Italy	 = model_Italy.predict(future_Italy)

In [47]:
forecast_Italy

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2020-01-02,-2.259772e+06,-2.710712e+06,4.718091e+05,-2.259772e+06,-2.259772e+06,9.895958e+05,9.895958e+05,9.895958e+05,-64068.042432,-64068.042432,-64068.042432,1.053664e+06,1.053664e+06,1.053664e+06,0.0,0.0,0.0,-1.270176e+06
1,2020-01-03,-2.245576e+06,-2.747339e+06,5.554106e+05,-2.245576e+06,-2.245576e+06,1.140407e+06,1.140407e+06,1.140407e+06,-37417.199434,-37417.199434,-37417.199434,1.177824e+06,1.177824e+06,1.177824e+06,0.0,0.0,0.0,-1.105170e+06
2,2020-01-04,-2.231380e+06,-2.540257e+06,6.810578e+05,-2.231380e+06,-2.231380e+06,1.313613e+06,1.313613e+06,1.313613e+06,33231.266035,33231.266035,33231.266035,1.280382e+06,1.280382e+06,1.280382e+06,0.0,0.0,0.0,-9.177670e+05
3,2020-01-05,-2.217184e+06,-2.471675e+06,8.862579e+05,-2.217184e+06,-2.217184e+06,1.394559e+06,1.394559e+06,1.394559e+06,33353.686839,33353.686839,33353.686839,1.361205e+06,1.361205e+06,1.361205e+06,0.0,0.0,0.0,-8.226257e+05
4,2020-01-06,-2.202988e+06,-2.355914e+06,8.943927e+05,-2.202988e+06,-2.202988e+06,1.466551e+06,1.466551e+06,1.466551e+06,45923.083350,45923.083350,45923.083350,1.420628e+06,1.420628e+06,1.420628e+06,0.0,0.0,0.0,-7.364377e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4487,2032-11-28,1.112552e+08,6.066595e+07,1.606892e+08,6.288979e+07,1.626474e+08,-2.021871e+06,-2.021871e+06,-2.021871e+06,33353.686839,33353.686839,33353.686839,-2.055225e+06,-2.055225e+06,-2.055225e+06,0.0,0.0,0.0,1.092333e+08
4488,2032-11-29,1.112810e+08,5.997973e+07,1.608871e+08,6.289533e+07,1.627092e+08,-2.096704e+06,-2.096704e+06,-2.096704e+06,45923.083350,45923.083350,45923.083350,-2.142627e+06,-2.142627e+06,-2.142627e+06,0.0,0.0,0.0,1.091842e+08
4489,2032-11-30,1.113067e+08,5.972297e+07,1.607014e+08,6.290086e+07,1.627710e+08,-2.278526e+06,-2.278526e+06,-2.278526e+06,-44053.259108,-44053.259108,-44053.259108,-2.234473e+06,-2.234473e+06,-2.234473e+06,0.0,0.0,0.0,1.090282e+08
4490,2032-12-01,1.113325e+08,6.032032e+07,1.605255e+08,6.290640e+07,1.628329e+08,-2.295331e+06,-2.295331e+06,-2.295331e+06,33030.464751,33030.464751,33030.464751,-2.328361e+06,-2.328361e+06,-2.328361e+06,0.0,0.0,0.0,1.090372e+08
4491,2032-12-02,1.113583e+08,6.016961e+07,1.607947e+08,6.291193e+07,1.628947e+08,-2.485771e+06,-2.485771e+06,-2.485771e+06,-64068.042432,-64068.042432,-64068.042432,-2.421703e+06,-2.421703e+06,-2.421703e+06,0.0,0.0,0.0,1.088726e+08

# Prophet_Cameroon

In [48]:
mycolumns_Cameroon	 = ['Date','Cameroon']

In [49]:
infected_Cameroon	 = infected5[mycolumns_Cameroon]

In [50]:
infected_Cameroon

          Date  Cameroon
0   2020-01-22         0
1   2020-01-23         0
2   2020-01-24         0
3   2020-01-25         0
4   2020-01-26         0
..         ...       ...
837 2022-08-05    119780
838 2022-09-05    119780
839 2022-10-05    119780
840 2022-11-05    119780
841 2022-12-05    119780

[842 rows x 2 columns]

In [51]:
infected_Cameroon	['Date'] = pd.to_datetime(infected_Cameroon['Date'])
infected_Cameroon.columns = ['ds', 'y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
infected_Cameroon

            ds       y
0   2020-01-22       0
1   2020-01-23       0
2   2020-01-24       0
3   2020-01-25       0
4   2020-01-26       0
..         ...     ...
837 2022-08-05  119780
838 2022-09-05  119780
839 2022-10-05  119780
840 2022-11-05  119780
841 2022-12-05  119780

[842 rows x 2 columns]

In [53]:
model_Cameroon	 = Prophet()
model_Cameroon.fit(infected_Cameroon)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [54]:
future_Cameroon = model_Cameroon.make_future_dataframe(periods=365 * 10)
forecast_Cameroon = model_Cameroon.predict(future_Cameroon)

In [55]:
forecast_Cameroon

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2020-01-02,-10931.453394,-15621.109733,22958.866874,-10931.453394,-10931.453394,14310.190788,14310.190788,14310.190788,-443.948858,-443.948858,-443.948858,14754.139646,14754.139646,14754.139646,0.0,0.0,0.0,3378.737394
1,2020-01-03,-10804.642441,-14253.494391,22447.816199,-10804.642441,-10804.642441,15249.775059,15249.775059,15249.775059,-18.333950,-18.333950,-18.333950,15268.109009,15268.109009,15268.109009,0.0,0.0,0.0,4445.132618
2,2020-01-04,-10677.831489,-14471.796866,22030.442705,-10677.831489,-10677.831489,15380.333166,15380.333166,15380.333166,-182.850811,-182.850811,-182.850811,15563.183977,15563.183977,15563.183977,0.0,0.0,0.0,4702.501677
3,2020-01-05,-10551.020536,-12131.795789,24787.683909,-10551.020536,-10551.020536,16070.098549,16070.098549,16070.098549,424.315306,424.315306,424.315306,15645.783242,15645.783242,15645.783242,0.0,0.0,0.0,5519.078013
4,2020-01-06,-10424.209584,-11900.050856,24064.420411,-10424.209584,-10424.209584,15937.802948,15937.802948,15937.802948,411.149745,411.149745,411.149745,15526.653203,15526.653203,15526.653203,0.0,0.0,0.0,5513.593364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4487,2032-11-28,504389.844337,274318.299234,738957.335384,278311.823868,748713.839556,-9206.955616,-9206.955616,-9206.955616,424.315306,424.315306,424.315306,-9631.270922,-9631.270922,-9631.270922,0.0,0.0,0.0,495182.888721
4488,2032-11-29,504490.479039,268583.429315,737168.875085,278340.429784,748954.274922,-10279.892721,-10279.892721,-10279.892721,411.149745,411.149745,411.149745,-10691.042466,-10691.042466,-10691.042466,0.0,0.0,0.0,494210.586318
4489,2032-11-30,504591.113742,263962.805567,738588.711924,278343.559983,749194.332909,-11459.933826,-11459.933826,-11459.933826,318.958483,318.958483,318.958483,-11778.892309,-11778.892309,-11778.892309,0.0,0.0,0.0,493131.179916
4490,2032-12-01,504691.748444,266054.041105,737036.915652,278346.690181,749434.390896,-13375.790652,-13375.790652,-13375.790652,-509.289916,-509.289916,-509.289916,-12866.500737,-12866.500737,-12866.500737,0.0,0.0,0.0,491315.957792
4491,2032-12-02,504792.383147,263286.304317,738150.745793,278349.820380,749674.448883,-14368.411965,-14368.411965,-14368.411965,-443.948858,-443.948858,-443.948858,-13924.463107,-13924.463107,-13924.463107,0.0,0.0,0.0,490423.971182

# Prophet_Niger

In [56]:
mycolumns_Niger = ['Date','Niger']

In [57]:
infected_Niger	 = infected5[mycolumns_Niger]

In [58]:
infected_Niger

          Date  Niger
0   2020-01-22      0
1   2020-01-23      0
2   2020-01-24      0
3   2020-01-25      0
4   2020-01-26      0
..         ...    ...
837 2022-08-05   8957
838 2022-09-05   8986
839 2022-10-05   9005
840 2022-11-05   9005
841 2022-12-05   9010

[842 rows x 2 columns]

In [59]:
infected_Niger	['Date'] = pd.to_datetime(infected_Niger['Date'])
infected_Niger.columns = ['ds', 'y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
infected_Niger

            ds     y
0   2020-01-22     0
1   2020-01-23     0
2   2020-01-24     0
3   2020-01-25     0
4   2020-01-26     0
..         ...   ...
837 2022-08-05  8957
838 2022-09-05  8986
839 2022-10-05  9005
840 2022-11-05  9005
841 2022-12-05  9010

[842 rows x 2 columns]

In [61]:
model_Niger = Prophet()
model_Niger.fit(infected_Niger)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [62]:
future_Niger = model_Niger.make_future_dataframe(periods=365 * 10)
forecast_Niger = model_Niger.predict(future_Niger)

In [63]:
forecast_Niger

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2020-01-02,-1144.572406,-665.376458,697.338102,-1144.572406,-1144.572406,1128.745181,1128.745181,1128.745181,-28.523897,-28.523897,-28.523897,1157.269077,1157.269077,1157.269077,0.0,0.0,0.0,-15.827225
1,2020-01-03,-1132.898672,-611.748396,765.629826,-1132.898672,-1132.898672,1218.088436,1218.088436,1218.088436,-16.158751,-16.158751,-16.158751,1234.247187,1234.247187,1234.247187,0.0,0.0,0.0,85.189764
2,2020-01-04,-1121.224939,-494.074002,862.388764,-1121.224939,-1121.224939,1305.089439,1305.089439,1305.089439,6.349469,6.349469,6.349469,1298.739970,1298.739970,1298.739970,0.0,0.0,0.0,183.864500
3,2020-01-05,-1109.551205,-431.980833,895.025466,-1109.551205,-1109.551205,1389.036697,1389.036697,1389.036697,38.355388,38.355388,38.355388,1350.681309,1350.681309,1350.681309,0.0,0.0,0.0,279.485491
4,2020-01-06,-1097.877472,-378.969127,963.266494,-1097.877472,-1097.877472,1404.432500,1404.432500,1404.432500,14.196018,14.196018,14.196018,1390.236481,1390.236481,1390.236481,0.0,0.0,0.0,306.555028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4487,2032-11-28,36580.422242,25410.889478,45387.164482,26500.986098,46713.160339,-1109.713158,-1109.713158,-1109.713158,38.355388,38.355388,38.355388,-1148.068546,-1148.068546,-1148.068546,0.0,0.0,0.0,35470.709083
4488,2032-11-29,36587.731011,25226.468852,45568.839912,26504.292513,46727.062891,-1179.890244,-1179.890244,-1179.890244,14.196018,14.196018,14.196018,-1194.086262,-1194.086262,-1194.086262,0.0,0.0,0.0,35407.840767
4489,2032-11-30,36595.039780,25247.021403,45296.934250,26508.188725,46740.965444,-1233.927102,-1233.927102,-1233.927102,6.467176,6.467176,6.467176,-1240.394279,-1240.394279,-1240.394279,0.0,0.0,0.0,35361.112677
4490,2032-12-01,36602.348549,25436.810705,45325.510471,26512.084938,46754.867996,-1306.254339,-1306.254339,-1306.254339,-20.685404,-20.685404,-20.685404,-1285.568936,-1285.568936,-1285.568936,0.0,0.0,0.0,35296.094209
4491,2032-12-02,36609.657318,25329.711394,45269.347407,26515.981151,46768.770549,-1356.653298,-1356.653298,-1356.653298,-28.523897,-28.523897,-28.523897,-1328.129401,-1328.129401,-1328.129401,0.0,0.0,0.0,35253.004020

# Prophet_Russia

In [64]:
mycolumns_Russia = ['Date','Russia']

In [65]:
infected_Russia	 = infected5[mycolumns_Russia]

In [66]:
infected_Russia

          Date    Russia
0   2020-01-22         0
1   2020-01-23         0
2   2020-01-24         0
3   2020-01-25         0
4   2020-01-26         0
..         ...       ...
837 2022-08-05  17961837
838 2022-09-05  17966773
839 2022-10-05  17971207
840 2022-11-05  17975243
841 2022-12-05  17979272

[842 rows x 2 columns]

In [67]:
infected_Russia ['Date'] = pd.to_datetime(infected_Russia['Date'])
infected_Russia.columns = ['ds', 'y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [68]:
infected_Russia

            ds         y
0   2020-01-22         0
1   2020-01-23         0
2   2020-01-24         0
3   2020-01-25         0
4   2020-01-26         0
..         ...       ...
837 2022-08-05  17961837
838 2022-09-05  17966773
839 2022-10-05  17971207
840 2022-11-05  17975243
841 2022-12-05  17979272

[842 rows x 2 columns]

In [69]:
model_Russia = Prophet()
model_Russia.fit(infected_Russia)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [70]:
future_Russia = model_Russia.make_future_dataframe(periods=365 * 10)
forecast_Russia = model_Russia.predict(future_Russia)

In [71]:
forecast_Russia

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2020-01-02,-1.891310e+06,-1.882228e+06,1.970781e+06,-1.891310e+06,-1.891310e+06,1.890210e+06,1.890210e+06,1.890210e+06,-55745.515746,-55745.515746,-55745.515746,1.945955e+06,1.945955e+06,1.945955e+06,0.0,0.0,0.0,-1.100445e+03
1,2020-01-03,-1.876919e+06,-1.751770e+06,1.931720e+06,-1.876919e+06,-1.876919e+06,1.987916e+06,1.987916e+06,1.987916e+06,-27470.503363,-27470.503363,-27470.503363,2.015386e+06,2.015386e+06,2.015386e+06,0.0,0.0,0.0,1.109969e+05
2,2020-01-04,-1.862528e+06,-1.713034e+06,2.117129e+06,-1.862528e+06,-1.862528e+06,2.052784e+06,2.052784e+06,2.052784e+06,-1533.911545,-1533.911545,-1533.911545,2.054318e+06,2.054318e+06,2.054318e+06,0.0,0.0,0.0,1.902560e+05
3,2020-01-05,-1.848136e+06,-1.888296e+06,2.050958e+06,-1.848136e+06,-1.848136e+06,2.105771e+06,2.105771e+06,2.105771e+06,42283.340011,42283.340011,42283.340011,2.063488e+06,2.063488e+06,2.063488e+06,0.0,0.0,0.0,2.576346e+05
4,2020-01-06,-1.833745e+06,-1.618646e+06,2.146928e+06,-1.833745e+06,-1.833745e+06,2.099914e+06,2.099914e+06,2.099914e+06,55647.645985,55647.645985,55647.645985,2.044267e+06,2.044267e+06,2.044267e+06,0.0,0.0,0.0,2.661689e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4487,2032-11-28,1.181048e+08,9.084418e+07,1.425534e+08,9.196611e+07,1.437171e+08,-1.615846e+06,-1.615846e+06,-1.615846e+06,42283.340011,42283.340011,42283.340011,-1.658130e+06,-1.658130e+06,-1.658130e+06,0.0,0.0,0.0,1.164890e+08
4488,2032-11-29,1.181317e+08,9.040782e+07,1.419009e+08,9.197995e+07,1.437496e+08,-1.717558e+06,-1.717558e+06,-1.717558e+06,55647.645985,55647.645985,55647.645985,-1.773206e+06,-1.773206e+06,-1.773206e+06,0.0,0.0,0.0,1.164142e+08
4489,2032-11-30,1.181586e+08,9.020855e+07,1.422208e+08,9.199379e+07,1.437822e+08,-1.891470e+06,-1.891470e+06,-1.891470e+06,153.491191,153.491191,153.491191,-1.891624e+06,-1.891624e+06,-1.891624e+06,0.0,0.0,0.0,1.162671e+08
4490,2032-12-01,1.181855e+08,9.066029e+07,1.420863e+08,9.200763e+07,1.438147e+08,-2.023413e+06,-2.023413e+06,-2.023413e+06,-13334.546533,-13334.546533,-13334.546533,-2.010079e+06,-2.010079e+06,-2.010079e+06,0.0,0.0,0.0,1.161621e+08
4491,2032-12-02,1.182124e+08,9.041966e+07,1.417231e+08,9.202131e+07,1.438473e+08,-2.180841e+06,-2.180841e+06,-2.180841e+06,-55745.515746,-55745.515746,-55745.515746,-2.125096e+06,-2.125096e+06,-2.125096e+06,0.0,0.0,0.0,1.160316e+08

# Prophet_Senegal

In [72]:
mycolumns_Senegal	 = ['Date','Senegal']

In [73]:
infected_Senegal = infected5[mycolumns_Senegal]

In [74]:
infected_Senegal

          Date  Senegal
0   2020-01-22        0
1   2020-01-23        0
2   2020-01-24        0
3   2020-01-25        0
4   2020-01-26        0
..         ...      ...
837 2022-08-05    86012
838 2022-09-05    86016
839 2022-10-05    86019
840 2022-11-05    86023
841 2022-12-05    86029

[842 rows x 2 columns]

In [75]:
infected_Senegal	 ['Date'] = pd.to_datetime(infected_Senegal['Date'])
infected_Senegal.columns = ['ds', 'y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [76]:
infected_Senegal

            ds      y
0   2020-01-22      0
1   2020-01-23      0
2   2020-01-24      0
3   2020-01-25      0
4   2020-01-26      0
..         ...    ...
837 2022-08-05  86012
838 2022-09-05  86016
839 2022-10-05  86019
840 2022-11-05  86023
841 2022-12-05  86029

[842 rows x 2 columns]

In [77]:
model_Senegal	= Prophet()
model_Senegal.fit(infected_Senegal)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [78]:
future_Senegal = model_Senegal.make_future_dataframe(periods=365 * 10)
forecast_Senegal = model_Senegal.predict(future_Senegal)

In [79]:
forecast_Senegal

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2020-01-02,-8373.273911,-11637.827768,13055.272908,-8373.273911,-8373.273911,9324.599861,9324.599861,9324.599861,-241.972508,-241.972508,-241.972508,9566.572369,9566.572369,9566.572369,0.0,0.0,0.0,951.325950
1,2020-01-03,-8283.851122,-10978.664129,15171.618651,-8283.851122,-8283.851122,10354.702162,10354.702162,10354.702162,4.152741,4.152741,4.152741,10350.549421,10350.549421,10350.549421,0.0,0.0,0.0,2070.851040
2,2020-01-04,-8194.428333,-10180.716974,16115.741711,-8194.428333,-8194.428333,10992.529219,10992.529219,10992.529219,0.239404,0.239404,0.239404,10992.289815,10992.289815,10992.289815,0.0,0.0,0.0,2798.100886
3,2020-01-05,-8105.005544,-9083.707670,16837.138469,-8105.005544,-8105.005544,11651.970822,11651.970822,11651.970822,164.819742,164.819742,164.819742,11487.151080,11487.151080,11487.151080,0.0,0.0,0.0,3546.965278
4,2020-01-06,-8015.582756,-8375.820462,17189.064472,-8015.582756,-8015.582756,11981.044863,11981.044863,11981.044863,147.500339,147.500339,147.500339,11833.544525,11833.544525,11833.544525,0.0,0.0,0.0,3965.462108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4487,2032-11-28,365829.338337,195593.416649,528801.911282,201295.324586,536224.324570,-7519.114618,-7519.114618,-7519.114618,164.819742,164.819742,164.819742,-7683.934360,-7683.934360,-7683.934360,0.0,0.0,0.0,358310.223719
4488,2032-11-29,365902.620050,195557.917753,533231.131094,201257.491535,536321.052722,-8032.345676,-8032.345676,-8032.345676,147.500339,147.500339,147.500339,-8179.846014,-8179.846014,-8179.846014,0.0,0.0,0.0,357870.274374
4489,2032-11-30,365975.901763,195021.817429,528529.308501,201219.658483,536417.780874,-8497.890823,-8497.890823,-8497.890823,211.294715,211.294715,211.294715,-8709.185538,-8709.185538,-8709.185538,0.0,0.0,0.0,357478.010941
4490,2032-12-01,366049.183476,191762.362636,529454.438153,201181.825431,536514.509026,-9545.948794,-9545.948794,-9545.948794,-286.034434,-286.034434,-286.034434,-9259.914361,-9259.914361,-9259.914361,0.0,0.0,0.0,356503.234682
4491,2032-12-02,366122.465190,189105.841508,526755.000582,201143.992380,536610.911826,-10060.519616,-10060.519616,-10060.519616,-241.972508,-241.972508,-241.972508,-9818.547109,-9818.547109,-9818.547109,0.0,0.0,0.0,356061.945573

# Prophet_Spain

In [80]:
mycolumns_Spain	 = ['Date','Spain']

In [81]:
infected_Spain = infected5[mycolumns_Spain]

In [82]:
infected_Spain

          Date     Spain
0   2020-01-22         0
1   2020-01-23         0
2   2020-01-24         0
3   2020-01-25         0
4   2020-01-26         0
..         ...       ...
837 2022-08-05  12009059
838 2022-09-05  12009059
839 2022-10-05  12058888
840 2022-11-05  12058888
841 2022-12-05  12058888

[842 rows x 2 columns]

In [83]:
infected_Spain['Date'] = pd.to_datetime(infected_Spain['Date'])
infected_Spain.columns = ['ds', 'y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [84]:
infected_Spain

            ds         y
0   2020-01-22         0
1   2020-01-23         0
2   2020-01-24         0
3   2020-01-25         0
4   2020-01-26         0
..         ...       ...
837 2022-08-05  12009059
838 2022-09-05  12009059
839 2022-10-05  12058888
840 2022-11-05  12058888
841 2022-12-05  12058888

[842 rows x 2 columns]

In [85]:
model_Spain	= Prophet()
model_Spain.fit(infected_Spain)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [86]:
future_Spain = model_Spain.make_future_dataframe(periods=365 * 10)
forecast_Spain = model_Spain.predict(future_Spain)

In [87]:
forecast_Spain

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2020-01-02,-1.712057e+06,-1.793826e+06,3.558770e+05,-1.712057e+06,-1.712057e+06,9.759818e+05,9.759818e+05,9.759818e+05,-40042.639620,-40042.639620,-40042.639620,1.016024e+06,1.016024e+06,1.016024e+06,0.0,0.0,0.0,-7.360756e+05
1,2020-01-03,-1.700061e+06,-1.723043e+06,5.565056e+05,-1.700061e+06,-1.700061e+06,1.111131e+06,1.111131e+06,1.111131e+06,-17901.315356,-17901.315356,-17901.315356,1.129033e+06,1.129033e+06,1.129033e+06,0.0,0.0,0.0,-5.889293e+05
2,2020-01-04,-1.688064e+06,-1.597152e+06,6.548049e+05,-1.688064e+06,-1.688064e+06,1.238155e+06,1.238155e+06,1.238155e+06,13209.833917,13209.833917,13209.833917,1.224946e+06,1.224946e+06,1.224946e+06,0.0,0.0,0.0,-4.499085e+05
3,2020-01-05,-1.676067e+06,-1.440625e+06,7.839066e+05,-1.676067e+06,-1.676067e+06,1.333420e+06,1.333420e+06,1.333420e+06,30059.932188,30059.932188,30059.932188,1.303360e+06,1.303360e+06,1.303360e+06,0.0,0.0,0.0,-3.426470e+05
4,2020-01-06,-1.664071e+06,-1.353385e+06,7.779172e+05,-1.664071e+06,-1.664071e+06,1.388947e+06,1.388947e+06,1.388947e+06,24703.897232,24703.897232,24703.897232,1.364244e+06,1.364244e+06,1.364244e+06,0.0,0.0,0.0,-2.751231e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4487,2032-11-28,8.122531e+07,5.052658e+07,1.088407e+08,5.161887e+07,1.107333e+08,-1.460665e+06,-1.460665e+06,-1.460665e+06,30059.932188,30059.932188,30059.932188,-1.490724e+06,-1.490724e+06,-1.490724e+06,0.0,0.0,0.0,7.976464e+07
4488,2032-11-29,8.124383e+07,4.986961e+07,1.089029e+08,5.163677e+07,1.107662e+08,-1.532284e+06,-1.532284e+06,-1.532284e+06,24703.897231,24703.897231,24703.897231,-1.556988e+06,-1.556988e+06,-1.556988e+06,0.0,0.0,0.0,7.971155e+07
4489,2032-11-30,8.126235e+07,4.983280e+07,1.092041e+08,5.165276e+07,1.107992e+08,-1.650311e+06,-1.650311e+06,-1.650311e+06,-23263.403973,-23263.403973,-23263.403973,-1.627047e+06,-1.627047e+06,-1.627047e+06,0.0,0.0,0.0,7.961204e+07
4490,2032-12-01,8.128087e+07,5.039932e+07,1.094851e+08,5.166839e+07,1.108321e+08,-1.685913e+06,-1.685913e+06,-1.685913e+06,13233.695613,13233.695613,13233.695613,-1.699147e+06,-1.699147e+06,-1.699147e+06,0.0,0.0,0.0,7.959496e+07
4491,2032-12-02,8.129940e+07,4.959671e+07,1.083427e+08,5.168402e+07,1.108650e+08,-1.811413e+06,-1.811413e+06,-1.811413e+06,-40042.639621,-40042.639621,-40042.639621,-1.771370e+06,-1.771370e+06,-1.771370e+06,0.0,0.0,0.0,7.948798e+07

# Prophet_Russia

In [88]:
mycolumns_Russia = ['Date','Russia']

In [89]:
infected_Russia = infected5[mycolumns_Russia]

In [90]:
infected_Russia

          Date    Russia
0   2020-01-22         0
1   2020-01-23         0
2   2020-01-24         0
3   2020-01-25         0
4   2020-01-26         0
..         ...       ...
837 2022-08-05  17961837
838 2022-09-05  17966773
839 2022-10-05  17971207
840 2022-11-05  17975243
841 2022-12-05  17979272

[842 rows x 2 columns]

In [91]:
infected_Russia['Date'] = pd.to_datetime(infected_Russia['Date'])
infected_Russia.columns = ['ds', 'y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [92]:
infected_Russia

            ds         y
0   2020-01-22         0
1   2020-01-23         0
2   2020-01-24         0
3   2020-01-25         0
4   2020-01-26         0
..         ...       ...
837 2022-08-05  17961837
838 2022-09-05  17966773
839 2022-10-05  17971207
840 2022-11-05  17975243
841 2022-12-05  17979272

[842 rows x 2 columns]

In [93]:
model_Russia	= Prophet()
model_Russia.fit(infected_Russia)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [94]:
future_Russia = model_Russia.make_future_dataframe(periods=365 * 10)
forecast_Russia = model_Russia.predict(future_Russia)

In [95]:
forecast_Russia

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2020-01-02,-1.891310e+06,-1.877470e+06,1.889658e+06,-1.891310e+06,-1.891310e+06,1.890210e+06,1.890210e+06,1.890210e+06,-55745.515746,-55745.515746,-55745.515746,1.945955e+06,1.945955e+06,1.945955e+06,0.0,0.0,0.0,-1.100445e+03
1,2020-01-03,-1.876919e+06,-1.810975e+06,2.068741e+06,-1.876919e+06,-1.876919e+06,1.987916e+06,1.987916e+06,1.987916e+06,-27470.503363,-27470.503363,-27470.503363,2.015386e+06,2.015386e+06,2.015386e+06,0.0,0.0,0.0,1.109969e+05
2,2020-01-04,-1.862528e+06,-1.862122e+06,2.103411e+06,-1.862528e+06,-1.862528e+06,2.052784e+06,2.052784e+06,2.052784e+06,-1533.911545,-1533.911545,-1533.911545,2.054318e+06,2.054318e+06,2.054318e+06,0.0,0.0,0.0,1.902560e+05
3,2020-01-05,-1.848136e+06,-1.610975e+06,2.033524e+06,-1.848136e+06,-1.848136e+06,2.105771e+06,2.105771e+06,2.105771e+06,42283.340011,42283.340011,42283.340011,2.063488e+06,2.063488e+06,2.063488e+06,0.0,0.0,0.0,2.576346e+05
4,2020-01-06,-1.833745e+06,-1.715236e+06,2.177755e+06,-1.833745e+06,-1.833745e+06,2.099914e+06,2.099914e+06,2.099914e+06,55647.645985,55647.645985,55647.645985,2.044267e+06,2.044267e+06,2.044267e+06,0.0,0.0,0.0,2.661689e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4487,2032-11-28,1.181048e+08,8.979960e+07,1.450130e+08,9.164041e+07,1.460281e+08,-1.615846e+06,-1.615846e+06,-1.615846e+06,42283.340011,42283.340011,42283.340011,-1.658130e+06,-1.658130e+06,-1.658130e+06,0.0,0.0,0.0,1.164890e+08
4488,2032-11-29,1.181317e+08,9.012269e+07,1.436837e+08,9.165338e+07,1.460609e+08,-1.717558e+06,-1.717558e+06,-1.717558e+06,55647.645985,55647.645985,55647.645985,-1.773206e+06,-1.773206e+06,-1.773206e+06,0.0,0.0,0.0,1.164142e+08
4489,2032-11-30,1.181586e+08,8.967354e+07,1.432911e+08,9.166635e+07,1.460938e+08,-1.891470e+06,-1.891470e+06,-1.891470e+06,153.491191,153.491191,153.491191,-1.891624e+06,-1.891624e+06,-1.891624e+06,0.0,0.0,0.0,1.162671e+08
4490,2032-12-01,1.181855e+08,8.962286e+07,1.435768e+08,9.167933e+07,1.461311e+08,-2.023413e+06,-2.023413e+06,-2.023413e+06,-13334.546533,-13334.546533,-13334.546533,-2.010079e+06,-2.010079e+06,-2.010079e+06,0.0,0.0,0.0,1.161621e+08
4491,2032-12-02,1.182124e+08,8.910426e+07,1.439776e+08,9.169230e+07,1.461641e+08,-2.180841e+06,-2.180841e+06,-2.180841e+06,-55745.515746,-55745.515746,-55745.515746,-2.125096e+06,-2.125096e+06,-2.125096e+06,0.0,0.0,0.0,1.160316e+08

In [99]:
data_prophet = pd.read_excel("/content/data_prophet.xlsx") 

data_prophet.head()

  Country/Region       value
0        Morocco   4097677.0
1          China     19860.0
2         France  85730910.0
3          Italy  60463380.0
4          Niger     25699.0

In [101]:
cordonner = pd.read_excel("/content/cordonnée.xlsx") 

cordonner.head()

  Country/Region        Lat        Long
0        Morocco  31.791700   -7.092600
1          China  23.341700  113.424400
2         France  46.227600    2.213700
3          Italy  41.871940   12.567380
4          Niger  17.607789    8.081666

In [110]:
# Learn how to use folium to create a zoomable map
df_ful = pd.merge(cordonner,data_prophet,on='Country/Region')
map = folium.Map(location=[23.341700, 113.424400], zoom_start=4,tiles='Stamenterrain')
for lat, lon, valu, name in zip(df_ful['Lat'], df_ful['Long'], df_ful['value'], df_ful['Country/Region']):
    folium.CircleMarker([lat, lon], radius=valu, popup = ('<strong>State</strong>: ' + str(name).capitalize() + '<br>''<strong>Total Cases</strong>: ' + str(value) + '<br>'),color='red',fill_color='red',fill_opacity=0.3 ).add_to(map)
map

ValueError: ignored

In [124]:
# Learn how to use folium to create a zoomable map
df_ful = pd.merge(cordonner,data_prophet,on='Country/Region')
map = folium.Map(tiles='Stamenterrain')

for lat, lon, value, name in zip(df_ful['Lat'], df_ful['Long'], df_ful['value'], df_ful['Country/Region']):
    folium.CircleMarker([lat, lon], radius=value*0.0000001, popup = ('<strong>State</strong>: ' + str(name).capitalize() + '<br>''<strong>Total Cases</strong>: ' + str(value) + '<br>'),color='red',fill_color='red',fill_opacity=0.3 ).add_to(map)
map